* {
  margin: 0 !important;
  padding: 0 !important;
}

body{ 
  width: 100vw;
  background-color: #eaf5bff5; 
}

#root { 
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



